{% extends 'EdizContact/base.html' %}
{% block sayfa_isim %} Blog {% endblock %}
{% block content %}
<a href="{% url 'yeni_gonderi' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% for gonderi in Gonderis %}
        <div>
            <p>{{ gonderi.yayim_zaman }} </p>
            <h2>
                <a href="{% url 'gonderi_detay' pk=gonderi.pk %}">{{ gonderi.baslik }}</a>
            </h2>
            <p>{{ gonderi.yazi }} </p>
        </div>
        {% endfor %}
{% endblock %}